p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 50%;
  text-align: center;
  font-size: 3rem;
}

.board-container {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border: 1px solid #000;
}

.cell {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3rem;
}

.dialog-container {
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
